<!DOCTYPE css>
<style>
<<<<<<< HEAD 
*{
font-family: 'Helvetica";
}

/* INCLUDED ON ALL PAGES */

body {
background-image: url("background.jpg");
background-repeat: repeat-y;
}

a:hover{
font-size: 120%;
}

.navigator{
position: fixed;
top: 0;
right: 0;
font-family: 'Helvetica', sans-serif;
font-size: 1.6em;
background-color: rgb(255, 137, 40);
float: right;
max-height: 5em;
min-width: 75%;
max-width: 80%;
padding: 0.5em;
}

.navitem{
margin: 1em;
border: 2px solid #000;
text-decoration: none;
}

html, body, #container { height: 100%; }
body > #container { height: auto; min-height: 100%; }

/* HOMEPAGE */

.welcome{
top: 0;
text-align: Center;
font-size: 1.9em;
background-color: rgba(255, 138, 40, 0.66);
margin-down: 50px;
}

.navhome {
background-color: rgb(255, 138, 40);
width: 100%;
text-align: center;
text-decoration: none;
}

.navhome ul {
padding: 0;
}

/* Slideshow container */

.slideshow-container {
font-family: 'Lato', sans-serif;
max-width: 1000px;
position: relative;
margin: auto;
}

/* Next & previous buttons */
.prev, .next {
cursor: pointer;
position: absolute;
top: 50%;
width: auto;
margin-top: -22px;
padding: 16px;
color: white;
font-weight: bold;
font-size: 18px;
transition: 0.9s ease;
border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
right: 0;
border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.navhome li {
color: rgb(255, 138, 40);
display: inline-block;
font-family: 'Roboto', sans-serif;
font-size: 1.6em;
margin: 15px;
padding: 5px;
text-transform: uppercase;
border: 3px solid #000;
}

.info{
font-size: 1.4em;
border: 2px solid;
border-color: rgb(255, 138, 40);
margin: 0.5em;
margin-bottom: 2em;
}

/* fOOTER */

.footer{
clear: both;
position: relative;
z-index: 10;
height: 3em;
margin-top: -3em;
}

table {
margin-up: 1em;
height: 40%;
left: 0%;
margin: 1,5em auto;
overflow-y: scroll;
position: static;
width: 100%;
}

th {
background: rgb(255, 138, 40);
color: #000;
font-family: 'Lato', sans-serif;
font-size: 1.7em;
font-weight: 100;
letter-spacing: 0.1em;
text-transform: uppercase;
}

tr {
background: rgba(255, 138, 40, 0.6);
border-bottom: 1px solid #FFF;
margin-bottom: 5px;
}

td, th {
font-family: 'Lato', sans-serif;
font-weight: 400;
font-size: 18px;
padding: 20px;
text-align: left;
width: 33.3333%;
}

/* LAYOUT VAN DE BIJBAANTJES */

.wbijbaan {
font-family: serif;
text-allign: Center;
font-size: 1.45em;
background-color: rgba(255, 138, 40, 0.6);
margin-down: 35px;
width: 100%;
}

.bbijbaan {
border: 2px solid rgb(255, 138, 40);
font-size: 1.25em;
margin: 1em;
}

#picoppas {
position: static;
float: Right;
padding-right: 0.5em;
}

#tag {
position: static;
float: right;
}

#picfout {
max-width: 2em;
max-height: 2em;
}

#picgoed {
max-width: 2em;
max-height: 2em;
}

#picyt {
float: right;
}

/* SNEL GELD VERDIENEN */

.hgeld {
text-align: Center;
font-size: 1.55em;
background-color: rgba(255, 138, 40, 0.6);
margin-down: 50px;
position: Static;
}

.extrageld {
font-size: 1.4em;
}

#tageld {
margin: 1.5em;
height: 40%;
margin: 1,5em auto;
overflow-y: scroll;
position: Center static;
width: 95%;
}

#thbgeld {
background: rgb(255, 138, 40);
font-family: 'Lato', sans-serif;
font-size: 1.4em;
font-weight: 100;
letter-spacing: 0.1em;
text-transform: uppercase;
}

#trgeld {
font-size: 1.3em;
background: rgba(255, 138, 40, 0.6);
border-bottom: 1px solid #FFF;
margin-bottom: 0.3em;
}

#tdgeld , #thbgeld {
font-family: 'Lato', sans-serif;
font-weight: 400;
font-size: 1.1em;
text-align: Center;
width: 33.3333%;
}

/* CONTACT FORMULIER */

.wcontact {
background-color: rgba(255,138, 40, 0.6);
font-size: 1.3em;
font-family: 'Verdana', sans-serif;
width: 100%;
}

.bodycontact {
border: 2px solid rgb(255, 138, 40);
font-size: 1.3em;
font-family: 'lato', sans-serif;
}

#piccontact {
position: Center;
}

/* BEDRIJF */

.wbedrijf{
background-color: rgba(255, 138, 40, 0.6);
width: 100%;
text-align: Center;
font-size: 1.4em;
font-family: 'helvetica', sans-serif;
}

.bedrijftopics{
border: 2px solid rgb(255, 138, 40);
}

.topic{
background-color: rgba(255, 138, 40, 0.3);
font-size: 0.8em;
margin: 1em;
border: 1px solid rgb(255, 138, 40);
}

#tfheader{
background-color: rgba(255, 138, 40, 0.6);
}

#tfnewsearch{
float:right;
padding:20px;
}

.tftextinput{
margin: 0;
padding: 5px 15px;
font-family: Arial, Helvetica, sans-serif;
font-size:14px;
border:1px solid rgb(255, 138, 40); 
border-right:0px;
border-top-left-radius: 5px 5px;
border-bottom-left-radius: 5px 5px;
}

.tfbutton {
margin: 0;
padding: 5px 15px;
font-family: Arial, Helvetica, sans-serif;
font-size:14px;
outline: none;
cursor: pointer;
text-align: center;
text-decoration: none;
color: #ffffff;
border: solid 1px rgb(255, 138, 40); border-right:0px;
background: rgb(255, 138, 40);
background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
background: -moz-linear-gradient(top,  #00adee,  rgb(255, 138, 40));
border-top-right-radius: 5px 5px;
border-bottom-right-radius: 5px 5px;
}

.tfbutton:hover {
text-decoration: none;
background: rgb(255, 138, 40);
background: -webkit-gradient(linear, left top, left bottom, from(rgb(255, 138, 40)), to(#00678e));
background: -moz-linear-gradient(top,  rgb(255, 138, 40),  #00678e);
}

.tfbutton::-moz-focus-inner {
border: 0;
}

.tfclear{
clear:both;
}

.wabout {
background-color: rgba(255, 138, 40, 0.6);
font-size: 1.38em;
font-family: 'Lato', sans-serif;
}

.babout {
border: 2px solid rgb(255, 138, 40);
font-size: 1.28em;
font-family: 'Lato', sans-serif;
}

.woverzicht {
background-color: rgba(255, 138, 40, 0.6);
font-family: serif;
font-size: 1.4em;
}

.boverzicht {
font-family: 'Lato', sans-serif;
border: 2px solid rgb(255, 138, 40);
font-size: 1.18em;
margin: 1em;
}

.topichead {
background-color: rgba(255, 138, 40, 0.6);
font-family: 'Lato', sans-serif;
font-size: 1.5em;
}

.topicbody {
border: 2px solid rgb(255, 138, 40);
font-family: 'Lato', sans-serif;
font-size: 1.25em;
margin: 1em;
padding: 1em;
}

#donaldtrumppic {
position: static;
float: right;
top: 0;
}

#lampje, #robijn, #pixar, #layschips {
width: 20%;
min-height: 10em;
}

#icecream {
float: right;
}
